body>.row {
	height: 50%;
}
text {
    fill: white;
}

.tick line, .axis .domain {
	stroke: white;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.focus circle {
	fill: red;
	stroke: red;
	fill-opacity: .5;
}

svg#order-line-chart, svg#time-line-chart {
    /*border: 1px solid white;*/
}

.axis text.label {
	fill: white;
	font-size: 16px;
	font-weight: 300;
}